.wrap {
    display: flex;
    justify-content: space-between;
}

div#hero {
    padding: 15px;
}

.wrap > div {
    width: 48%;
}

a.link-logo.w-inline-block.w--current {
    display: flex;
    align-items: flex-end;
}

#hero ul {
    list-style: inside;
}

.banner_text p.bold {
    font-weight: bold;
}

.wpcp-footer {
    margin:15px 0;
}